<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dynamo_DB_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>AmazonDynamoDBSample.java</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>dindex_login_unsucessful.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>NewFile.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SimpleServlet</display-name>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration_Servlet</display-name>
    <servlet-name>Registration_Servlet</servlet-name>
    <servlet-class>Registration_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_Servlet</servlet-name>
    <url-pattern>/Registration_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout_Servlet</display-name>
    <servlet-name>Checkout_Servlet</servlet-name>
    <servlet-class>Checkout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout_Servlet</servlet-name>
    <url-pattern>/Checkout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Completed</display-name>
    <servlet-name>Completed</servlet-name>
    <servlet-class>Completed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Completed</servlet-name>
    <url-pattern>/Completed</url-pattern>
  </servlet-mapping>
</web-app>